

.top-navigation {
	background-color: #fff;

}


.top-navigation > .content {
	width: 60rem;
	height: 4.375rem;
	margin: 0px auto;
}


body {
	background-color: LightGrey;
}

div{
	border: 1px solid Chocolate;

}

